@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Open+Sans&family=Roboto:wght@100;400;500;700&display=swap');

.IconLogin {
    font-size: 30px;
    margin: 0px 15px;
    color: #3b5998;
}